In [18]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [22]:
iris = load_iris()
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
#iris_df['target'] = iris.target

In [23]:
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [24]:
scaler = StandardScaler()
scaled_features = scaler.fit_transform(iris_df)
scaled_df = pd.DataFrame(scaled_features, columns=iris.feature_names)

In [ ]:
scaled_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0            -0.900681          1.019004          -1.340227         -1.315444
1            -1.143017         -0.131979          -1.340227         -1.315444
2            -1.385353          0.328414          -1.397064         -1.315444
3            -1.506521          0.098217          -1.283389         -1.315444
4            -1.021849          1.249201          -1.340227         -1.315444
..                 ...               ...                ...               ...
145           1.038005         -0.131979           0.819596          1.448832
146           0.553333         -1.282963           0.705921          0.922303
147           0.795669         -0.131979           0.819596          1.053935
148           0.432165          0.788808           0.933271          1.448832
149           0.068662         -0.131979           0.762758          0.790671

[150 rows x 4 columns]

In [26]:
km = KMeans(n_clusters=3, random_state=42, n_init='auto')
scaled_df['cluster'] = km.fit_predict(scaled_features)
scaled_df['target'] = iris.target

c:\Users\Admin\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [28]:
scaled_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),cluster,target
count,1.500000e+02,1.500000e+02,1.500000e+02,1.500000e+02,150.00000,150.000000
mean,-1.468455e-15,-1.823726e-15,-1.610564e-15,-9.473903e-16,0.50000,1.000000
std,1.003350e+00,1.003350e+00,1.003350e+00,1.003350e+00,0.73045,0.819232
min,-1.870024e+00,-2.433947e+00,-1.567576e+00,-1.447076e+00,0.00000,0.000000
25%,-9.006812e-01,-5.923730e-01,-1.226552e+00,-1.183812e+00,0.00000,0.000000
50%,-5.250608e-02,-1.319795e-01,3.364776e-01,1.325097e-01,0.00000,1.000000
75%,6.745011e-01,5.586108e-01,7.627583e-01,7.906707e-01,1.00000,2.000000
max,2.492019e+00,3.090775e+00,1.785832e+00,1.712096e+00,2.00000,2.000000

In [30]:
cluster_mean= scaled_df.groupby('cluster')[iris.feature_names].mean()
cluster_counts = scaled_df['cluster'].value_counts().sort_index()

In [34]:
target_mean= scaled_df.groupby('target')[iris.feature_names].mean()
target_counts = scaled_df['target'].value_counts().sort_index()

In [35]:
print(cluster_mean, target_mean)

         sepal length (cm)  sepal width (cm)  petal length (cm)  \
cluster
0                 0.571004         -0.371768           0.691119
1                -0.816231          1.318958          -1.286834
2                -1.327654         -0.373138          -1.137236

         petal width (cm)
cluster
0                0.663152
1               -1.219712
2               -1.114862           sepal length (cm)  sepal width (cm)  petal length (cm)  \
target
0               -1.014579          0.853263          -1.304987
1                0.112282         -0.661432           0.285324
2                0.902297         -0.191831           1.019663

        petal width (cm)
target
0              -1.254893
1               0.166734
2               1.088159

In [36]:
cluster_counts,target_counts

(cluster
 0    96
 1    33
 2    21
 Name: count, dtype: int64,
 target
 0    50
 1    50
 2    50
 Name: count, dtype: int64)